body{
    padding-top: 65px;
}

.hero-section {
  background-image: url('/src/assets/watchBackground.jpg');
  background-size: cover;
  background-position: center;
  height: 400px; /* Adjust as needed */
  width: 100%;
}